<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>pdf-launcher</string>
  <key>CFBundleIdentifier</key>
  <string>com.pdffffing.pdf-launcher</string>
  <key>CFBundleSignature</key>
  <string>PDFL</string>
  <key>CFBundleName</key>
  <string>PDF Launcher</string>
  <key>CFBundleDisplayName</key>
  <string>PDF Launcher</string>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.productivity</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>LSMinimumSystemVersion</key>
  <string>11.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>PDF</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>application/pdf</string>
      </array>
      <key>CFBundleTypeOSTypes</key>
      <array>
        <string>PDF </string>
      </array>
      <key>LSItemContentTypes</key>
      <array>
        <string>com.adobe.pdf</string>
        <string>public.pdf</string>
      </array>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>pdf</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
